Cargo.lock
rs/target/
rs/.idea/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.hgignore
.hg/
.idea
*.iml
.cpcache/
.DS_Store
/lib/
/classes/
clj/rust-sentence-transformers-clj/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/